server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: custom_protect

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: pas
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://your-prod-db-host:5432/accessguard_db
    username: accessguard_user
    password: ${ACCESSGUARD_DB_PASSWORD}
    hikari:
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS auth_schema
      connection-timeout: 5000
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: auth_schema